/* 

	Global styles 
 *****************
 *****************

*/


html {
	-webkit-font-smoothing: antialiased;
}

body {
	font-family: "proxima-nova-1";
	background: #fff;
	padding-top: 79px;
	font-weight: 400;
	font-size: 16px;
}

a {
	transition: color .3s ease-in-out;
}

a:focus, a:hover {
	text-decoration: none;
}


::selection {
  background: #f59031;
  color: #fff;
}

::-moz-selection {
  background: #f59031;
  color: #fff;
}


.padding80 {
	padding: 80px 0;
}

.padding40 {
	padding: 40px 0;
}

.mb20 {
	margin-bottom: 20px;
}

.mb40 {
	margin-bottom: 40px;
}

.mt20 {
	margin-top: 20px;
}

.mt40 {
	margin-top: 40px;
}


.bg-white {
	background-color: #fff;
}

.bg-orange {
	background-color: #f59031;
}

.bg-orange-gradient {
	background: linear-gradient(135deg, #d16c00 0%,#f59031 100%);
	background: -moz-linear-gradient(-45deg, #d16c00 0%, #f59031 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#d16c00), color-stop(100%,#f59031));
	background: -webkit-linear-gradient(-45deg, #d16c00 0%,#f59031 100%);
	background: -o-linear-gradient(-45deg, #d16c00 0%,#f59031 100%);
	background: -ms-linear-gradient(-45deg, #d16c00 0%,#f59031 100%);
}

.bg-grey {
	background-color: #f9f9f9;
}

.bg-grey-story {
	background-color: #f1f1f1;
}

.bg-dark-grey {
	background-color: rgb(43,43,43);
}

.bg-blue {
	background-color: #0096d1;
}

.bg-dark-blue {
	background: #3b6d93;
}

.txt-white {
	color: #fff;
}

.txt-blue {
	color: ;
}

.txt-justify {
	text-align: justify;
}



/* 

	Bootstrap Overrides 
 ***********************
 ***********************

*/



.container-fluid {
	padding-right: 0;
	padding-left: 0;
}



/* 

	Button Classes 
 ***********************
 ***********************

*/


.btn {
	border-radius: 0;
	padding: 11px 20px;
	transition: all .3s ease-in-out;
	text-transform: uppercase;
	color: #fff;
	font-weight: 600;
}

.btn:hover {
	color: #fff;
}



.btn-orange {
	background-color: #f59031;
	border-color: #f59031;
}

.btn-orange:hover {
	background-color: #e3842c;
	border-color: #e3842c;
}



.btn-green {
	background-color: #60b760;
	border-color: #60b760;
}

.btn-green:hover {
	background-color: #44a34c;
	border-color: #44a34c
}



.btn-teal {
	background-color: rgb(111, 191, 205);
	border-color: rgb(111, 191, 205);
}

.btn-teal:hover {
	opacity: .9;
}

/* 

	Navigation 
 *****************
 *****************

*/




.navbar {
	border-radius: 0;
	border:none;
	margin-bottom: 0;
	padding: 5px 0;
}

.navbar-nav {
	padding: 10px 0 5px;
}

.navbar-brand {
	background-image: url('../img/xactly_logo.png');
	background-repeat: no-repeat;
	width: 165px;
	height: 59px;
	background-size: contain;
	padding: 0;
}

.navbar-default .navbar-nav>li>a {
	font-size: 16px;
	padding-right: 20px;
	padding-left: 20px;
	color: #333;
}

.navbar-default .navbar-nav>li>a:hover {
	opacity: .8;
}

.navbar-right i, .navbar-right a {
	margin: 0 5px;
}

.navbar-right .btn-primary, .navbar-right .btn-primary i {
	margin: 0;
	color: #fff;
}


ul .dropdown-menu a {
	color: #f59031;
	font-size: 16px;
}

.nav>li.hide-nav {
	display: none;
}


/* 

	Mega Menu 
 *****************
 *****************

*/


.product {
  width: 768px;
}

.about {
  width: 500px;
}

.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}

.mega-dropdown-menu > li > ul > li {
  list-style: none;
}

.mega-dropdown-menu > li > ul > li > a {
  display: block;
  font-weight: normal;
  line-height: 1.428571429;
  white-space: normal;
}

.about> li > ul > li > a {
	margin: 5px 0;
}

.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
  background-color: #f5f5f5;
}

.mega-dropdown-menu .dropdown-header {
  font-size: 18px;
  font-weight: bold;
  padding: 10px 0 5px;
}




.shadow {
  -webkit-box-shadow: 0 5px 5px 0 rgba(0,0,0,0.3);
  -moz-box-shadow: 0 5px 5px 0 rgba(0,0,0,0.3);
  box-shadow: 0 5px 5px 0 rgba(0,0,0,0.3);
}



/* 

	Breadcrumbs 
 *****************
 *****************

*/





.breadcrumb {
	margin-bottom: 0;
	text-transform: uppercase;
	font-size: 10px;
	border-radius: 0;
}

.breadcrumb ol {
	display: inline-flex;
	list-style: none;
	margin-bottom: 0;
}

.breadcrumb ol li a {
	color: rgba(255,255,255,.5);
	text-decoration: none;
}

.breadcrumb ol .active{
	color:#fff;
}

.breadcrumb ol>li+li:before {
	padding: 0 5px;
	color: #ccc;
	content: "/\00a0"
}





.middle {
	height: 500px;
}

.social i {
 color: #fff;
}




/* 

	Footer 
 *****************
 *****************

*/





footer {
	padding: 20px 0;
}

footer h4 {
	text-transform: uppercase;
	color: #f7901d;
	margin-bottom: 15px;
}

footer a {
	color: #fff;
}

footer a:hover {
	color: #fff;
	opacity: .8;
}

footer ul {
	list-style: none;
	margin-left: 0;
	margin-bottom: 0;
	padding-left: 0;
}

footer ul li {
	margin-bottom: 10px;
}

footer .social .fa-stack {
	padding-right: 50px;
}

footer .footer-top {
	margin-bottom: 80px;
	padding-left: 10px;
}

footer .footer-bottom {
	border-bottom: 1px solid #fff;
}

footer .footer-bottom .right {
	padding: 15px 0 5px;
}

footer .footer-bottom .right a {
	font-size: 12px;
}

.copyright p {
	font-size: 12px
}











/* 

	Blog Single Page  
 *****************
 *****************

*/

.story-body,.blog-body {
	padding: 20px;
	border: 1px solid #E4E4E4;
}

.story-body p, .blog-body p {
	line-height: 1.4em;
}

.story-body h2, .blog-body h2 {
	margin-bottom: 15px;
	line-height: 1.1em;
	font-weight: 500;
}

.blog-img {
	margin-bottom: 10px;
}

.right a {
	float: right;
}

.featured-guide {
	margin: 40px 0;
}

.featured-guide h4 {
	width: 100%;
	border-bottom: 1px solid #000;
	line-height: .1em;
}

.featured-guide h4 span {
	padding: 0 15px;
}

.featured-guide h4,
.recent h4 {
	margin: 20px auto;
	font-size: 20px;
	text-transform: uppercase;
	text-align: center;
}

.featured-guide h3 {
	margin-top: 0;
}

.featured-guide img {
	max-width: 300px;
}


.blog-author {
	border-top: 2px solid #ddd;
	border-bottom: 2px solid #ddd;
	padding: 20px 0;
	margin: 40px 0;
}

.blog-author img {
	border-radius: 50%;
	max-width: 80px;
}
 
.blog-author .author {
	margin-left: 10px;
}


.blog-author a i {
	margin-right: 15px;
	font-size: 18px;
}

.recent .cards {
	padding: 0 10px;
}

.recent .recent-card {
	border: 1px solid #efefef;
	padding: 0;
}

#customer-story-body aside, #blog aside {
	width: 23%;
	float: right;
}

#blog aside .header {
	padding: 5px;
	font-size: 16px;
	font-weight: 700;
	border-left: 2px solid #f7901d;
	text-transform: uppercase;
	border-bottom: 1px solid #EDEDED;
}

#blog aside .header p {
	margin-bottom: 0;
}

.blog-sidebar form {
	padding: 40px 15px;
}

.blog-sidebar .form-control {
	margin-bottom: 10px;
}


.blog-sidebar .trending {
	padding: 10px;
}


.blog-sidebar .trending a {
	font-size: 13px;
}

.blog-sidebar .trending em {
	font-size: 10px;
}

.blog-sidebar .trending .thumb {
	padding-right: 0;
}





/* 

	Blog Archive Page  
 *****************
 *****************

*/


#blog .blog-archive .thumb {
	padding-left: 0;
}

#blog .blog-archive .thumb img {
	max-width: 330px;
}

#blog .blog-archive .row {
	margin-bottom: 20px;
	background-color: #fff;
}



/* 

	Customer Backgrounds for homepage
 ************************************
 ************************************

*/

.customer-bg {
	margin-bottom: 10px;
	overflow: hidden;
	margin: 0 auto;
	border-radius: 5px;
	background-repeat: no-repeat;
	height: 377px;
	transition: background-image .3s ease-in-out;
	background-size: 100%;
	max-width: 370px;
}

.frost {
	background-image: url('/img/frost_wlogo.png');
}

.frost:hover {
	background-image: url('/img/frost_hover_background.jpg');
}

.welk {
	background-image: url('/img/welk.jpg');
}

.welk:hover {
	background-image: url('/img/welk_hover_background.jpg');
}

.legalzoom {
	background-image: url('/img/legalzoom_card.png');
}

.legalzoom:hover {
	background-image: url('/img/legalzoom_hover_background.jpg');
}

.customer-bg-hover {
	display: none;
	padding: 40px 20px;
}

#world-class ul {
	list-style: none;
	padding-left: .4em;
}

#world-class li {
	margin-bottom: 5px;
}

#world-class h3 .fa{
	color: #3b6d93;
}

#happy-customers {
	height: 450px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url('/img/levels-41.jpg');
}



#customer-story {
	height: auto;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.vertical-center {
    display: inline-block;
    vertical-align: middle !important;
    float: none;
}

.play-button:hover {
	opacity: .7;
	transition: all .3s ease-in-out;
}

.use-case {
	padding: 20px;
}

.use-case h3 {
	margin-top: 0;
	text-transform: uppercase;
	border-bottom: 1px solid #fff;
	padding-bottom: 10px;
	font-size: 22px;
}

.bt-grey {
	border-top: 2px solid #ccc;
}

.br-grey {
	border-right: 1px solid #ccc;
}



.use-case ul {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}

.panel-title {
	font-size: 20px;
}

.modal-content {
	height: 358px;
}

.modal-header {
	border-bottom: none;
	color: #000;
	padding: 0 15px;
}

.modal-body {
	padding: 0;
}

.close {
	font-size: 35px;
}



.multi-item-carousel .carousel-inner > .item {
  transition: 500ms ease-in-out left;
}
.multi-item-carousel .carousel-inner .active.left {
  left: -25%;
}
.multi-item-carousel .carousel-inner .active.right {
  left: 25%;
}
.multi-item-carousel .carousel-inner .next {
  left: 25%;
}
.multi-item-carousel .carousel-inner .prev {
  left: -25%;
}
@media all and (transform-3d), (-webkit-transform-3d) {
  .multi-item-carousel .carousel-inner > .item {
    transition: 500ms ease-in-out all;
    backface-visibility: visible;
    transform: none!important;
  }
}



/* 

	Media Queries
 *****************
 *****************

 */

@media (max-width: 1200px) {
	.navbar-default .navbar-nav>li>a {
		padding-right: 12px;
		padding-left: 12px
	}
}

@media (max-width: 992px) {
	.navbar-default .navbar-nav>li>a {
		padding-right: 6px;
		padding-left: 6px;
	}
	.navbar-default .col-sm-offset-1 {
		margin-left: 0;
	}
	#customer-story-body aside, #blog aside {
		width: 100%;
	}
}


@media (max-width: 767px) {
	body {
		padding-top: 60px; 
	}
	.navbar {
		padding: 0;
	}

	.navbar-default .navbar-toggle {
		margin: 12px 0;
	}

	.nav>li.hide-nav {
		display: block;

	}
	.nav>li.hide-nav a {
		color: #fff;
		
	}

	.nav>li.hide-nav .btn-primary {
		color:#fff;
	}
	.social,.footer-bottom-right {
		text-align: center;
	}
	.mega-dropdown-menu {
  		width: 100%;
  		margin-left: 0;
	}
	.hide-mobile,
	.navbar-default .col-sm-offset-1, 
	.navbar-right .btn-primary, 
	.navbar-right i, 
	.navbar-right a {
		display: none;
	}
	.navbar-nav .open .dropdown-menu .dropdown-header, 
	.navbar-nav .open .dropdown-menu>li>a {
		padding: inherit;
	}
}
